<p>Angular</p>

<app-life-cicle></app-life-cicle>
<app-life-cicle></app-life-cicle>
<app-life-cicle></app-life-cicle>

<hr>
<app-person [nameTest]="title" [lastName]="title" [age]="0" (print)="getPrint($event)"></app-person>
<app-person nameTest="Mike" lastName="Casti" [age]="41" (print)="getPrint($event)"></app-person>
<app-person nameTest="Faby" lastName="Villca" [age]="10" (print)="getPrint($event)"></app-person>

<!-- <p>{{person.name}}</p>
<p>{{person.lastName}}</p>
<p>{{person.age}}</p> -->

Mike
<input type="text" [(ngModel)]="student">
{{ student }}
Casti

<br>
a: <input type="number" [(ngModel)]=a> <br>
b: <input type="number" [(ngModel)]=b>
<p>{{ a+b }}</p>


<br>
<input type="text" ngModel (ngModelChange)="getLastName($event)">

<br>
<input type="text" #name>
<button (click)="printName(name)">Print Name</button>

<table>
  <tr>
    <th colspan="4">INPUT</th>    
  </tr>
  <tr>
    <td>HTML NATIVE</td>
    <td>(button, P, Input)</td>
    <td>===></td>
    <td>[]</td>
  </tr>
  <tr>
    <td>Custom Componentes</td>
    <td>(Name, LastName, Age)</td>
    <td>===></td>
    <td>
      [Name]="Variable declarada en el TS" <br>
      [Name]="'cadena de texto' + 'otra cadena de texto'" <br>
      Name=[Interpolacion] <br>
      Name="cadena de valor directo" <br>
    </td>
  </tr>
  <tr>
    <th colspan="4">OUTPUT</th>    
  </tr>
  <tr>
    <td>HTML NATIVE</td>
    <td>(Click, Double click, Over, Drag)</td>
    <td>===></td>
    <td></td>
  </tr>
  <tr>
    <td>Custom Componentes</td>
    <td>(Print)</td>
    <td>===></td>
    <td>
      (Print)="getPrint()"
    </td>
  </tr>
</table>
